.header {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 6px;
  .logo {
    object-fit: cover;
    padding: 20px 0;
    img {
      width: 25%;
    }
  }
}
.content {
  background-color: #f4f2f2;
  .thumb {
    object-fit: cover;
    padding: 25px 0;
    img {
      width: 7%;
    }
  }
  h1 {
    font-size: 33px;
    color: #5181e9;
  }
  label {
    font-size: 25px;
  }
  .nd {
    background-color: #fff;
    padding-top: 10px;
    h3 {
      font-size: 25px;
      font-weight: 600;
    }
  }
  .btn {
    font-size: 25px;
    color: #fff;
    background-color: #0f8df7;
    font-weight: 600;
    padding: 10px 24px;
    margin: 27px 0;
  }
}
@media (max-width: 768px) {
  .header .logo img {
    width: 37%;
  }
  .content .thumb img {
    width: 15%;
  }
}
@media (max-width: 575px) {
  .content h1 {
    font-size: 21px;
    color: #5181e9;
  }
  .content label {
    font-size: 19px;
    text-align: left !important;
  }
  .content .nd h3 {
    font-size: 19px;
  }
  .content .btn {
    font-size: 17px;
    margin: 14px 0;
  }
}
